[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # All abstractmethods and abstractproperties are marked as skipped
    @abstract

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

    # Skip action invocation
    if __name__ == '__main__':

    # don't complain if pass isn't covered
    pass