# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Mutation Test Project

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # installing dependencies used by the project
        pip install -r test-requirements.txt
    - name: Unit and Coverage Test with pytest
      run: |
        # stop the build if there are any unit test failures
        # or if our tests do not cover a significant 
        # amount of code
        pytest -m "not integrationtest" --cov=deadseeker --cov-fail-under=95 --cov-branch --cov-report=term-missing
    - name: Mutation Test with mutmut
      run: |
        # stop the build if the tests that we wrote are
        # not very good
        mutmut run --swallow-output